<!DOCTYPE html>
<html>
<head>
    {% include 'html_head.html' %}
</head>
<body class="hold-transition sidebar-collapse layout-fixed">
<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">About</a></li>
                            {#                            <li class="breadcrumb-item active">Dashboard v1</li>#}
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 offset-3">


                        <div class="card">
                            <div class="card-body register-card-body">


                                <div class="row">

                                    <div class="col-12">
                                        <a href="{% url 'detect_criminal' %}" class="btn btn-primary btn-block">Detect
                                            Criminal</a>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>


                        </div>

                        <!-- /.form-box -->
                    </div><!-- /.card -->
                </div>


            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'footer1.html' %}

</div>
</body>
</html>
